docs
venv

# Global
.env
*.log

# Python (api, scraper)
__pycache__/
*.pyc
*.pyo
*.pyd

# Node (client)
client/node_modules/
client/.next/
client/dist/

# OS / IDE junk
.DS_Store
.vscode/
.idea/


.cursor


proxies_formatted.csv
proxies.csv

# Proxy extensions 
scraper/utils/proxy_extensions/